Web Audio Processing: Use Cases and Requirements






Web Audio Processing: Use Cases and Requirements



W3C Working Group Note 29 January 2013


This version:
        http://www.w3.org/TR/2013/NOTE-webaudio-usecases-20130129/
Latest published version:
        http://www.w3.org/TR/webaudio-usecases/
Previous version:
        http://www.w3.org/TR/2012/WD-webaudio-usecases-20121004/
Latest editor's draft:
        https://dvcs.w3.org/hg/audio/raw-file/tip/reqs/Overview.html
Editors:
        Joe Berkovitz, Noteflight
        Olivier Thereaux, British Broadcasting Corporation (BBC)

Copyright © 2013 W3C® (MIT, ERCIM, Keio), All Rights Reserved. W3C liability, trademark and document use rules apply.

========================================================================================================================================================================================================



Abstract


This document introduces a series of scenarios and a list of requirements guiding the work of the W3C Audio Working Group in its development of a web API for processing and synthesis of audio on the
web.


Status of This Document


This section describes the status of this document at the time of its publication. Other documents may supersede this document. A list of current W3C publications and the latest revision of this
technical report can be found in the technical reports index at http://www.w3.org/TR/.

This document was published by the Audio Working Group as a Working Group Note. If you wish to make comments regarding this document, please send them to public-audio@w3.org (subscribe, archives).
All comments are welcome.

Publication as a Working Group Note does not imply endorsement by the W3C Membership. This is a draft document and may be updated, replaced or obsoleted by other documents at any time. It is
inappropriate to cite this document as other than work in progress.

This document was produced by a group operating under the Patent Policy. W3C maintains a public list of any patent disclosures made in connection with the deliverables of the group; that page also
includes instructions for disclosing a patent. An individual who has actual knowledge of a patent which the individual believes contains Essential Claim(s) must disclose the information in
accordance with Patent Policy.